manifest {
    description = 'Runs OpenSWATH Pipeline'
    author = 'Patrick Pedrioli'
}

params {
    help = false
    spec_lib = 'Results/SpectraST/SpecLib_opt_dec.pqp'
    irt_filter_bins = 10
    irt_filter_nonlinear_bins = 1000
    irt_filter_peptides = 5
    dia_folder = 'Data/DIA'
    swath_windows = 'Params/swaths55.txt'
    os_threads = 4
    subsample_ratio = 0.1
    pyp_threads = 4
    alignment_score = 0.01
}

process.container = 'openswath/develop'

docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u)'
}

executor {
     name = 'local'
     cpus = 28
     memory = '200 GB'
	 
}
