manifest {
    description = 'Runs OpenSWATH Pipeline'
    author = 'Patrick Pedrioli'
}

params {
    help = false
    spec_lib = 'Results/SpectraST/SpecLib_opt_dec.pqp'
    irt_filter_bins = 10
    irt_filter_nonlinear_bins = 1000
    irt_filter_peptides = 5
    dia_folder = 'Data/DIA'
    swath_windows = 'Params/swaths55.txt'
    os_threads = 28
    subsample_ratio = 0.02
    pi0_lambda = "0.05 0.5 0.05"
//    pi0_lambda = "0.01 0.9 0.01"
    ss_num_iter = 3
    pyp_classifier = "LDA"
//    pyp_classifier = "XGBoost"
    pyp_threads = 20
    alignment_score = 0.01
}


process {
 withName:irt_filter_pqp { container = 'digitalproteomes/r'}
 withName:irt_filter_nonlinear_pqp { container = 'digitalproteomes/r'}
 withName:openswath { container = 'digitalproteomes/openswath'}
 withName:pyprophet_subsample { container = 'digitalproteomes/openswath'}
 withName:pyprophet_merge { container = 'digitalproteomes/openswath'}
 withName:pypropht_learn { container = 'digitalproteomes/openswath'}
 withName:pyprophet_apply { container = 'digitalproteomes/openswath'}
 withName:pyprophet_global { container = 'digitalproteomes/openswath'}
 withName:pyprophet_backpropagate { container = 'digitalproteomes/openswath'}
 withName:tric_prepare { container = 'digitalproteomes/openswath'}
 withName:tric_feature_alignment { container = 'digitalproteomes/openswath'}
}

docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u) -u $(id -u):$(id -g)'
}

executor {
     name = 'local'
     cpus = 28
     memory = '200 GB'
}
