manifest {
    description = 'Runs OpenSWATH Pipeline'
    author = 'Patrick Pedrioli'
}

params {
    // General Parameters
    help = false
    target_library = 'Results/easypqpLib/library_targets.pqp'
    library = 'Results/easypqpLib/library.pqp'
    dia_folder = 'Data/DIA'

    // irt_linear_filter parameters
    irt_linear_filter_bins = 10		// [default: 10]
    irt_linear_filter_peptides = 5	// [default: 5]

    // irt_nonlinear_filter parameters
    irt_nonlinear_filter_bins = 1000	// [default: 10] But 1000 at this step by George
    irt_nonlinear_filter_peptides = 5

    // openswath parameters
    openswath_swath_windows = 'Params/swaths55.txt'
    openswath_swath_min_upper_edge_dist = 0
    openswath_threads = 28

    // Generic pyprophet parameters
     pyprophet_classifier = "XGBoost"	// XGboost or LDA

    // pyprophet_subsample parameters
    pyprophet_subsample_subsample_ratio = 0.3
    
    // pyprophet_learn parameters
    pyprophet_learn_pi0_method= 'bootstrap'	// smoother or
						// bootstrap, default
						// is
						// bootstrap. Setting
						// to smoother seems
						// to help avoiding
						// pi0 <= 0 error
    pyprophet_learn_threads = 1	// Currently has to be set to 1 to
				// avoid a crash.

    alignment_score = 0.001
}


process {
 withName:irt_linear_filter_pqp { container = 'grosenberger/easypqp:0.1.8'}
 withName:irt_nonlinear_filter_pqp { container = 'grosenberger/easypqp:0.1.8'}
 withName:openswath { container = 'grosenberger/openms:2.5.0'}
 withName:pyprophet_subsample { container = 'pyprophet/master'}
 withName:pyprophet_merge { container = 'pyprophet/master'}
 withName:pyprophet_learn { container = 'pyprophet/master'}
 withName:pyprophet_apply { container = 'pyprophet/master'}
 withName:pyprophet_global { container = 'pyprophet/master'}
 withName:pyprophet_backpropagate { container = 'pyprophet/master'}
 withName:tric_prepare { container = 'pyprophet/master'}
 withName:tric_feature_alignment { container = 'grosenberger/msproteomicstools:0.11.0'}
}

docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u) -u $(id -u):$(id -g)'
}

executor {
     name = 'local'
     cpus = 28
     memory = '200 GB'
}
